{% extends "base.html" %}
{% load static %}
{% block title %}Ingresar nuevo ítem{% endblock %}
{% block subtitle %}Desde esta pantalla se podrán ingresar nuevos materiales al inventario.{% endblock %}
{% block content %}
<form class="user" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.description }}
    </div>
    <div class="form-group">
        {{ form.price }}
    </div>
    <div class="form-group">
        {{ form.qty }}
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Enviar</button>
</form>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if messages %}
            var myModal = new bootstrap.Modal(document.getElementById('messageModal'));
            myModal.show();
        {% endif %}
    });
</script>
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
