{% extends "base.html" %}
{% load static %}
{% block title %}Control de inventario{% endblock %}
{% block subtitle %}Desde esta pantalla se podrán visualizar todos los ítems disponibles en el inventario.{% endblock %}
{% block title_description %}
<a href="{% url 'create' %}" class="m-0 font-weight-bold text-primary"> Ingresar nuevo material </a>
{% endblock%}
{% block content %}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.qty }}</td>
            <td class="text-center"><i class="fas fa-search fa-fw"></i></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if messages %}
            var myModal = new bootstrap.Modal(document.getElementById('messageModal'));
            myModal.show();
        {% endif %}
    });
</script>

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}

